@using LongtermCare.DataModel.LongtermCare.DataModel;
@using LTCareRate.Models.DataModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    HRAlloc hR = new HRAlloc();
    if (TempData["HRAlloc"] != null)
    {
        List<HRAlloc> listhalloc = (List<HRAlloc>)TempData["HRAlloc"];
        if (listhalloc.Count > 0)
        {
            hR = listhalloc[0];
        }
        else
        {
            hR.HRAllocSerNo = -1;
        }
    }
    else
    {
        hR.HRAllocSerNo = -1;
    }
    List<CodeBase> codeBaseLst = (List<CodeBase>)TempData["CodeBase"];
}
@model LTCareRate.Models.ViewModel.HRData
<div class="col-xl-9 col-lg-9 col-md-11 pl-xl-0 pl-lg-5">
    <div class="gw page-list mb-4">
        <h3 class="font-weight-bold">人員配置 新增/修改</h3>
    </div><!--gw-->
    <div class="gw py-4 px-lg-5 px-md-4 px-xx-3 py-lg-5 py-xx-4 border  bg-light">
        <form runat="server" class="gw process-form" id="form1" method="post" action="/HRAdd/Add">
            <div class="border-top-0 bg-light py-5 px-lg-5 px-md-4 px-xx-3">
                <div class="row">
                    <div class="col-xx-12">
                        <div class="row">
                            <div class="col-xl-4 col-sm-6 mb-md-4 mb-xx-3">
                                <input type="hidden" value="@hR.HRAllocSerNo" id="HRAllocSerNo1" name="HRAllocSerNo1"/>
                                @if (hR.JobType == "1")
                                {
                                    <input type="radio" class="order-0 mr-1" name="personadmin" checked id="personadmin" value="1" required">
                                }
                                else
                                {
                                    <input type="radio" class="order-0 mr-1" name="personadmin" id="personadmin" value="1" required">
                                }
                                <label for="personadmin" class="mb-1 order-1">個管人員</label>
                                @if (hR.JobType == "2")
                                {
                                    <input type="radio" class="order-0 mr-1" name="personadmin" checked id="personadmin" value="2" required">
                                }
                                else
                                {
                                    <input type="radio" class="order-0 mr-1" name="personadmin" id="personadmin" value="2" required">
                                }
                                <label for="personadmin" class="mb-1 order-1">行政人員</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-2 col-sm-6 mb-md-4 mb-xx-3">
                                <div class="input-group input-group-lg align-items-center">
                                    @*<input type="text" class="form-control order-3" id="ProfBack" name="ProfBack" valur="" required>*@
                                    <select id="ProfBackSelect" name="ProfBackSelect" class="form-control order-3">
                                        @foreach (CodeBase obj in codeBaseLst)
                                        {
                                            if (obj.CodeTable == "HRAlloc" && obj.CodeField == "ProfBack")
                                            {
                                                if (obj.CodeValue == hR.PROBG)
                                                {
                                                    <option value="@obj.CodeValue" selected>@obj.CodeText</option>
                                                }
                                                else
                                                {
                                                    <option value="@obj.CodeValue">@obj.CodeText</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <label for="ProfBack" class="mb-1 order-0 w-20">專業背景</label>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-6 mb-md-4 mb-xx-3">
                                <div class="input-group input-group-lg align-items-center">
                                    <input type="number" class="form-control order-3" id="ProfCount" name="ProfCount" value="@hR.FullTimeNum" required max="10000" min="1">
                                    <label for="ProfCount" class="mb-1 order-0 w-20">專任人數</label>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-6 mb-md-4 mb-xx-3">
                                <div class="input-group input-group-lg align-items-center">
                                    <input type="number" class="form-control order-3" id="BeitCount" name="BeitCount" value="@hR.PartTimeNum" required max="10000" min="0">
                                    <label for="BeitCount" class="mb-1 order-0 w-20">兼任人數</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="reset" class="btn btn-lg btn-warning px-4" id="cancel">取&emsp;&ensp;消</button>
                    <button type="submit" class="btn btn-lg btn-success px-4" id="save">儲&emsp;&ensp;存</button>
                </div><!--12-->
            </div>
        </form>
    </div>
</div>

