@using LongtermCare.DataModel.LongtermCare.DataModel;
@using LTCareRate.Utility;
@using LTCareRate.Models.DataModel;
@{
    ViewBag.Title = "HR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LTCareRate.Models.ViewModel.HRData
<div class="row justify-content-lg-between justify-content-xx-center">
    <div class="col-xl-3 col-lg-3 col-md-11 pr-xl-5 pr-lg-0 mb-4">
        <div class="row justify-content-md-between justify-content-xx-center">
            <div class="col-lg-12 mb-4">
                <div class="gw"></div>
                <a class="media w-100 flex-wrap icon-link-set" href="#0">
                    <span class="sprite size--60">
                        <!--這裡放圖片，60px * 60px-->
                        <img src="images/spearker-1.png" alt="">
                    </span>
                    <h6 class="align-self-center">
                        評鑑作業
                    </h6>
                </a>
                <ul class="list-group list-group-horizontal flex-wrap mt-4 active-red mb-5">
                    @RenderPage("~/Views/Shared/Navigation.cshtml")
                    @*<li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("基本資料", "Index", "Function")
        </li>
        <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("人力配置", "Index", "HR")
        </li>
        <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("個案清冊及服務量", "Index", "CaseListCount")
        </li>
        <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("合作提供服務單位", "Index", "SupportUnit")
        </li>
        <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("自評表", "Index", "SelfRate")
        </li>*@
                </ul>
            </div><!--12-->
        </div><!--row-->
    </div><!--col3-->
    <div class="col-xl-9 col-lg-9 col-md-11 pl-xl-0 pl-lg-5">
        <div class="gw page-list mb-4">
            <h3 class="font-weight-bold">人力配置</h3>
        </div><!--gw-->

        <div class="gw py-4 px-lg-5 px-md-4 px-xx-3 py-lg-5 py-xx-4 border  bg-light">
            <form runat="server" class="gw process-form" id="form1" method="post" action="/HR/Index">
                <fieldset class="pb-2">
                    <div class="table-wrap pb-0">
                        <table width="100%">
                            <tr>
                                <td>
                                    <h5 class="h5 font-weight-bold text-success mb-2">人力配置清單</h5>
                                </td>
                                <td>
                                    <div class="col-xl-7 col-md-6 col-sm-6 mb-4">
                                        <div class="input-group input-group-lg">
                                            <table>
                                                <tr>
                                                    <td><label for="YearLeaveCnt" class="mb-1 order-0 w-20">年離職人數</label></td>
                                                    <td><label for="YearStartCnt" class="mb-1 order-0 w-20">年初個管人數</label></td>
                                                    <td><label for="RateAddCnt" class="mb-1 order-0 w-20">年增加登錄個管人數</label></td>
                                                </tr>
                                                <tr>
                                                    @{
                                                        var startYear = (DateTime.Now.Year - 1911 - 1).ToString(); 
                                                        var endYear = (DateTime.Now.Year - 1911).ToString(); 
                                                    }
                                                    <td><input type="text" class="form-control  order-3" id="YearLeaveCnt" name="YearLeaveCnt" value="@Model.YearLeaveCnt" title="@startYear 年1月~@endYear 年5月31日離職人數"></td>
                                                    <td><input type="text" class="form-control  order-3" id="YearStartCnt" name="YearStartCnt" value="@Model.YearStartCnt" title="@startYear 年1月個管人數"></td>
                                                    <td><input type="text" class="form-control  order-3" id="RateAddCnt" name="RateAddCnt" value="@Model.RateAddCnt" title="@startYear 年2月~@endYear 年5月增加登錄個管人數"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                            <a href="javascript:void(0)" onclick="window.open('@Url.Action(actionName:"Index", controllerName:"HRAdd", routeValues:null)', '', 'width=1200,height=900');">新增一筆資料</a>
                            <table class="table table-bordered table-striped mb-0 table-hover">
                                <thead class="text-center">
                                    <tr class="font-weight-bold">
                                        <th>操作</th>
                                        <th>人力類別</th>
                                        <th>專業背景</th>
                                        <th>專任人數</th>
                                        <th>兼任人數</th>
                                        <th>合計</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @{
                                        PagedList.IPagedList<HRAlloc> hRAllocs = Model.hrDataList;
                                                                List<CodeBase> codeBaseList = (List<CodeBase>)TempData["CodeBase"];
                                                            }
                                                            @foreach (HRAlloc alloc in hRAllocs)
                                                            {
                                                                string JobType = Utility.getCodeBaseText(codeBaseList, "HRAlloc", "JobType", alloc.JobType);
                                                                string ProfBack = Utility.getCodeBaseText(codeBaseList, "HRAlloc", "ProfBack", alloc.PROBG);
                                                                int sum = alloc.FullTimeNum + alloc.PartTimeNum;
                                        <tr class="k-grid">
                                            <td>
                                                <a href="javascript:void(0)" onclick="window.open('@Url.Action("Edit", "HR", new { year=alloc.Year, INSTNO=alloc.INSTNO, HRAllocSerNo = alloc.HRAllocSerNo })', '', 'width=700,height=500');"><img src="~/images/Edit.png" width="30" height="30" /></a>
                                                <a href="javascript:void(0)" onclick="if (confirm('您是否刪除此筆資料')) { window.open('@Url.Action("Delete", "HR", new { year=alloc.Year, INSTNO=alloc.INSTNO, HRAllocSerNo = alloc.HRAllocSerNo })', '', 'width=500,height=500'); }"><img src="~/images/delete.png" width="30" height="30" /></a>
                                            </td>
                                            <td>@JobType</td>
                                            <td>@ProfBack</td>
                                            <td>@alloc.FullTimeNum</td>
                                            <td>@alloc.PartTimeNum</td>
                                            <td class="text-muted">@sum</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                            <div class="pager">
                                @Html.Pager(Model.hrDataList.PageSize, Model.hrDataList.PageNumber, Model.hrDataList.TotalItemCount)
                            </div>
                        </div>
                    </fieldset>
                <div class="col-12 text-left">
                    @*<a href="javascript:void(0)" onclick="window.open('@Url.Action(actionName:"Index", controllerName:"HRAdd", routeValues:null)', '', 'width=1200,height=900');">新增一筆資料</a>*@
                    @*@Html.ActionLink("新增一筆資料", "Index", "HRAdd", null, new { @onclick="window.open('http://www.googlecom.tw')" })*@
                </div>
                <div class="col-12 text-center">
                    <button type="reset" class="btn btn-lg btn-warning px-4" id="submit">清&emsp;&ensp;除</button>
                    <button type="submit" class="btn btn-lg btn-success px-4" id="submit">下 一 步</button>
                </div><!--12-->
            </form>
        </div>
    </div>
</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(function () {

            // Fields
            var _pageLinkers = $(".pager> a");

            // Binding click event
            _pageLinkers.each(function (i, item) {
                var page = getParameterByName($(item).attr('href'), 'page')
                $(item).attr('href', '#').click(function () { postPage(page); });
            });

        });


        function postPage(page) {
            var targetFormID = '#ProductList';
            if ($(targetFormID).size() > 0) {
                $('<input>')
                    .attr({ type: 'hidden', id: 'page', name: 'page', value: page })
                    .appendTo($(targetFormID));
                $(targetFormID).submit();
            }
        };

        function getParameterByName(url, name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(url);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    </script>
}*@