@using LongtermCare.DataModel.LongtermCare.DataModel;
@using LTCareRate.Models.DataModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LTCareRate.Models.ViewModel.BasicData
<div class="row justify-content-lg-between justify-content-xx-center">
    <div class="col-xl-3 col-lg-3 col-md-11 pr-xl-5 pr-lg-0 mb-4">
        <div class="row justify-content-md-between justify-content-xx-center">
            <div class="col-lg-12 mb-4">
                <div class="gw"></div>
                <a class="media w-100 flex-wrap icon-link-set" href="#0">
                    <span class="sprite size--60">
                        <!--這裡放圖片，60px * 60px-->
                        <img src="images/spearker-1.png" alt="">
                    </span>
                    <h6 class="align-self-center">
                        評鑑作業
                    </h6>
                </a>
                <ul class="list-group list-group-horizontal flex-wrap mt-4 active-red mb-5">
                    <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
                        @Html.ActionLink("基本資料", "Index", "Function")
                    </li>
                    <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
                        @Html.ActionLink("人力配置", "Index", "HR")
                    </li>
                    <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
                        @Html.ActionLink("個案清冊及服務量", "Index", "CaseListCount")
                    </li>
                    <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
                        @Html.ActionLink("合作提供服務單位", "Index", "SupportUnit")
                    </li>
                    <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
                        @Html.ActionLink("自評表", "Index", "SelfRate")
                    </li>
                </ul>
            </div><!--12-->
        </div><!--row-->
    </div><!--col3-->
    <div class="col-xl-9 col-lg-9 col-md-11 pl-xl-0 pl-lg-5">
        <div class="gw page-list mb-4">
            <h3 class="font-weight-bold">基本資料</h3>
        </div><!--gw-->

        <div class="gw py-4 px-lg-5 px-md-4 px-xx-3 py-lg-5 py-xx-4 border  bg-light">
            <h5 class="font-weight-bold mb-4 text-success ">基本資料維護</h5>
            <form runat="server" class="gw process-form" id="form1" method="post" action="/Function/Index">
                <div class="border-top-0 bg-light py-5 px-lg-5 px-md-4 px-xx-3">
                    <div class="row">
                        <div class="col-xx-12">
                            <div class="row">
                                <div class="col-xl-4 col-sm-6 mb-md-4 mb-xx-3">
                                    <div class="input-group input-group-lg">
                                        <input type="text" class="form-control order-3" id="INSTName" name="INSTName" value="@Model.INSTName" required>
                                        <label for="INSTName" class="mb-1 order-0 w-30">單位名稱</label>
                                    </div>
                                </div>
                                <div class="col-xl-1 col-sm-6 mb-4">
                                </div>
                                <div class="col-xl-4 col-sm-6 mb-4">
                                    <div class="input-group input-group-lg align-items-center">
                                        <input type="text" class="form-control order-3" id="INSTTel" name="INSTTel" value="@Model.INSTTel" required>
                                        <label for="INSTTel" class="mb-1 order-0 w-30">電話</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-5 col-lg-7 col-md-8 col-sm-9 col-xx-12 mb-4">
                            <div class="input-group input-group-lg flex-fit">
                                <select name="city" id="city" class="form-control order-2 col-sm-4 col-xs-4 mb-xs-0 mb-xx-3" size="1" required>
                                    <option value="">請選擇</option>
                                    @foreach (CityBase obj in ViewBag.city)
                                    {
                                        if (obj.CityName == Model.city)
                                        {
                                            <option value="@obj.CityName" selected>@obj.CityName</option>
                                        }
                                        else
                                        {
                                            <option value="@obj.CityName">@obj.CityName</option>
                                        }
                                    }
                                </select>
                                <select name="area" id="area" class="form-control order-2 col-sm-4 col-xs-4 mb-xs-0 mb-xx-3" size="1" required>
                                    <option value="">請選擇</option>
                                    @foreach (AreaBase obj in ViewBag.area)
                                    {
                                        if (obj.AreaName == Model.area)
                                        {
                                            <option value="@obj.AreaName" selected>@obj.AreaName</option>
                                        }
                                        else
                                        {
                                            <option value="@obj.AreaName">@obj.AreaName</option>
                                        }
                                    }
                                </select>

                                <label for="city" class="mb-1 order-0 w-100 ">選擇縣市/區域</label>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-5  mb-4">
                            <div class="input-group input-group-lg ">
                                <input type="text" class="has-bdr form-control form-control-lg order-3" placeholder="門牌街道" id="address" name="address" value="@Model.address" required>
                                <label for="address" class="mb-1 order-0 w-100 ">門牌街道</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-sm-6 mb-md-4 mb-xx-3">
                            <div class="input-group input-group-lg align-items-center">
                                <input type="text" class="form-control order-3" id="AttrMed" name="AttrMed" value="@Model.AttrMed" required>
                                <label for="name" class="mb-1 order-0 w-30">醫事機構</label>
                            </div>
                        </div>
                        <div class="col-xl-1 col-sm-6 mb-4">
                        </div>
                        <div class="col-xl-4 col-sm-6 mb-md-4 mb-xx-3">
                            <div class="input-group input-group-lg align-items-center">
                                <input type="text" class="form-control order-3" id="AttrLC" name="AttrLC" value="@Model.AttrLC" required>
                                <label for="name" class="mb-1 order-0 w-30">長照機構</label>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-md-4 mb-xx-3">
                            <div class="input-group input-group-lg align-items-center">
                                <input type="text" class="form-control order-3" id="AttrOther" name="AttrOther" value="@Model.AttrOther" required>
                                <label for="name" class="mb-1 order-0 w-30">其他</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xx-12">
                            <div class="row">
                                <div class="col-xl-4 col-sm-6 mb-md-4 mb-xx-3">
                                    <div class="input-group input-group-lg align-items-center">
                                        <input data-provide="datepicker" type="text" class="form-control order-3" id="EstabDate" name="EstabDate" value="@Model.EstabDate" required>
                                        <label for="EstabDate" class="mb-1 order-0 w-30 ">設立日期</label>
                                    </div>
                                </div>
                                <div class="col-xl-1 col-sm-6 mb-4">
                                </div>
                                <div class="col-xl-4 col-sm-6 mb-4">
                                    <div class="input-group input-group-lg align-items-center">
                                        <input type="text" class="form-control order-3" id="SpecialArea" name="SpecialArea" value="@Model.SpecialArea">
                                        <label for="SpecialArea" class="mb-1 order-0 w-30">特約區域</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-sm-6 mb-md-4 mb-xx-3">
                            <div class="input-group input-group-lg align-items-center">
                                @{
                                    UnitAYear objuay = new UnitAYear();
                                    if (ViewBag.uaYList != null)
                                    {
                                        objuay = ViewBag.uaYList;
                                    }
                                }
                                <input type="text" class="form-control order-3" id="Contact" name="Contact" value="@objuay.Contact" required>
                                <label for="name" class="mb-1 order-0 w-30">聯絡人</label>
                            </div>
                        </div>
                        <div class="col-xl-1 col-sm-6 mb-4">
                        </div>
                        <div class="col-xl-4 col-sm-6 mb-md-4 mb-xx-3">
                            <div class="input-group input-group-lg align-items-center">
                                <input type="text" class="form-control order-3" id="ContactTel" name="ContactTel" value="@objuay.ContactTel" required>
                                <label for="name" class="mb-1 order-0 w-30">連絡電話</label>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-md-4 mb-xx-3">
                            <div class="input-group input-group-lg align-items-center">
                                <input type="text" class="form-control order-3" id="EMail" name="EMail" value="@objuay.EMail" required>
                                <label for="name" class="mb-1 order-0 w-30">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="reset" class="btn btn-lg btn-warning px-4" id="submit">清&emsp;&ensp;除</button>
                    <button type="submit" class="btn btn-lg btn-success px-4" id="submit">下 一 步</button>
                </div><!--12-->
            </form>
        </div>
    </div>
</div>