@using LongtermCare.DataModel.LongtermCare.DataModel;
@using LTCareRate.Utility;
@using LTCareRate.Models.DataModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LTCareRate.Models.ViewModel.SupportUnitAdd
<div class="row justify-content-lg-between justify-content-xx-center">
    <div class="col-xl-3 col-lg-3 col-md-11 pr-xl-5 pr-lg-0 mb-4">
        <div class="row justify-content-md-between justify-content-xx-center">
            <div class="col-lg-12 mb-4">
                <div class="gw"></div>
                <a class="media w-100 flex-wrap icon-link-set" href="#0">
                    <span class="sprite size--60">
                        <!--這裡放圖片，60px * 60px-->
                        <img src="images/spearker-1.png" alt="">
                    </span>
                    <h6 class="align-self-center">
                        評鑑作業
                    </h6>
                </a>
                <ul class="list-group list-group-horizontal flex-wrap mt-4 active-red mb-5">
                    @RenderPage("~/Views/Shared/Navigation.cshtml")
                    @*<li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("基本資料", "Index", "Function")
        </li>
        <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("人力配置", "Index", "HR")
        </li>
        <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("個案清冊及服務量", "Index", "CaseListCount")
        </li>
        <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("合作提供服務單位", "Index", "SupportUnit")
        </li>
        <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("自評表", "Index", "SelfRate")
        </li>*@
                    @*<li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
            @Html.ActionLink("登出", "Index", "LogOut")
        </li>*@
                </ul>
            </div><!--12-->
        </div><!--row-->
    </div><!--col3-->
    <div class="col-xl-9 col-lg-9 col-md-11 pl-xl-0 pl-lg-5">
        <div class="gw page-list mb-4">
            <h3 class="font-weight-bold">合作服務提供單位</h3>
        </div><!--gw-->

        <div class="gw py-4 px-lg-5 px-md-4 px-xx-3 py-lg-5 py-xx-4 border  bg-light">
            <form runat="server" class="gw process-form" id="form1" method="post" action="/SupportUnit/Index">
                <fieldset class="pb-2">
                    <div class="table-wrap pb-0">
                        <h5 class="h5 font-weight-bold text-success mb-2">合作服務提供單位</h5><a href="javascript:void(0)" onclick="window.open('@Url.Action(actionName:"Index", controllerName:"SupportUnitAdd", routeValues:null)', '', 'width=1200,height=900');">新增一筆資料</a>
                        <table class="table table-bordered table-striped mb-0 table-hover">
                            <thead class="text-center">
                                <tr class="font-weight-bold">
                                    <th>操作</th>
                                    <th>服務類別</th>
                                    <th>機構名稱</th>
                                    <th>轉介個案數</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                @{
                                    PagedList.IPagedList<UnitAToBSum> uA2BLst = Model.SupportUnits; //(List<UnitAToBSum>)TempData["UnitAToBSumList"];
                                    List<CodeBase> codeBaseList = (List<CodeBase>)TempData["CodeBase"];
                                }
                                @foreach (UnitAToBSum uA2B in uA2BLst)
                                {
                                    string careType = Utility.getCodeBaseText(codeBaseList, "UnitAtoBSum", "LCareType", int.Parse(uA2B.LCareType).ToString("000"));
                                    <tr class="highlight">
                                        <td>
                                            <a href="javascript:void(0)" onclick="window.open('@Url.Action("Edit", "SupportUnit", new { year=uA2B.Year, INSTNO=uA2B.INSTNO, TrSeialNo1 = uA2B.TrSeialNo })', '', 'width=1200,height=900');"><img alt="編輯" src="~/images/Edit.png" width="30" height="30" /></a>
                                            <a href="javascript:void(0)" onclick="if (confirm('您是否刪除此筆資料')) { window.open('@Url.Action("Delete", "SupportUnit", new { year=uA2B.Year, INSTNO=uA2B.INSTNO, TrSeialNo = uA2B.TrSeialNo })', '', 'width=500,height=500'); }"><img alt="刪除" src="~/images/delete.png" width="30" height="30" /></a>
                                        </td>
                                        <td>@careType</td>
                                        <td>@uA2B.UnitBName</td>
                                        <td>@uA2B.TrCaseNum</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pager">
                            @Html.Pager(Model.SupportUnits.PageSize, Model.SupportUnits.PageNumber, Model.SupportUnits.TotalItemCount)
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="gborder bg-light py-5 px-lg-5 px-md-4 px-xx-3">
                <form runat="server" class="process-form" id="form2" method="post" enctype="multipart/form-data" action="@Url.Action("UploadServiceUnit", "SupportUnit")">
                    <div class="">
                        <div class="pb-3">
                            <h5 class="font-weight-bold mb-0 text-teal">合作服務提供單位資料上傳</h5>
                            <div class="mb-4">
                                <div class="input-group input-group-lg  justify-content-xl-between align-items-start flex-fit">
                                    <div class="col-md-8 col-xs-12 col-xx-12 border py-2 mb-sm-0 mb-xx-2 pl-2">
                                        <div class="file-upload-container justify-content-sm-start justify-content-xx-center">
                                            <input type="file" class="form-control-file d-inline-block" id="file_input" name="file_input" value="" hidden="hidden">
                                            @*<label for="file_input_list" class="pl-3 mb-0 mr-sm-2 mr-xx-0 file-input-trigger">選擇檔案 <i class="icon-upload"></i></label>*@
                                        </div><!--fille-container-->
                                        [@Html.ActionLink("合作服務提供單位上傳格式下載", "ServiceUnitExample", "DownLoad")]
                                    </div><!--6-->
                                    <div class="col-md-4 col-sm-4 col-xs-5 col-xx-12 mt-xx-3 text-xs-left text-xx-center">
                                        <input type="submit" class="btn btn-teal rounded-0" value="開始上傳" />
                                    </div><!--auto-->
                                </div><!--input-group-->
                            </div><!--gw-->
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 text-left">
                @*<a href="javascript:void(0)" onclick="window.open('@Url.Action(actionName:"Index", controllerName:"SupportUnitAdd", routeValues:null)', '', 'width=1200,height=900');">新增一筆資料</a>*@
                @*@Html.ActionLink("新增一筆資料", "Index", "HRAdd", null, new { @onclick="window.open('http://www.googlecom.tw')" })*@
            </div>
            <form runat="server" class="process-form" id="form3" action="@Url.Action("Next", "SupportUnit")">
                <div class="col-12 text-center">
                    <button type="reset" class="btn btn-lg btn-warning px-4" id="submit">清&emsp;&ensp;除</button>
                    <button type="submit" class="btn btn-lg btn-success px-4" id="submit">下 一 步</button>
                </div><!--12-->
            </form>
        </div>
    </div>
</div>