
@{
    ViewBag.Title = "Navigation";
    Layout = null;
}
<li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
    @Html.ActionLink("基本資料", "Index", "Function")
</li>
<li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
    @Html.ActionLink("人力配置", "Index", "HR")
</li>
<li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
    @Html.ActionLink("個案清冊及服務量", "Index", "CaseListCount")
</li>
<li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
    @Html.ActionLink("合作提供服務單位", "Index", "SupportUnit")
</li>
<li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
    @Html.ActionLink("自評表", "Index", "SelfRate")
</li>
<li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
    @Html.ActionLink("社區資源網路會議", "Index", "Meeting")
</li>
<li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
    @Html.ActionLink("區域跨專業個案討論會", "Index", "CaseDiscuss")
</li>
