
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function uploadCaseList() {
        var file = $("#file-input-list").prop("files")[0];
        //alert(file);
        $.ajax({
            type: "POST",
            URL: "@Url.Action("UploadCaseList", "CaseListCount", null)",
            dataType: "file",
            success: function (result) {
            },
            error: function () {
            }
        });
    }
</script>
<div class="row justify-content-lg-between justify-content-xx-center">
    <div class="col-xl-3 col-lg-3 col-md-11 pr-xl-5 pr-lg-0 mb-4">
        <div class="row justify-content-md-between justify-content-xx-center">
            <div class="col-lg-12 mb-4">
                <div class="gw"></div>
                <a class="media w-100 flex-wrap icon-link-set" href="Login.aspx?action=query">
                    <span class="sprite size--60">
                        <!--這裡放圖片，60px * 60px-->
                        <img src="images/spearker-1.png" alt="">
                    </span>
                    <h6 class="align-self-center">
                        評鑑作業
                    </h6>
                </a>
                <ul class="list-group list-group-horizontal flex-wrap mt-4 active-red mb-5">
                    <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
                        @Html.ActionLink("基本資料", "Index", "Function")
                    </li>
                    <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
                        @Html.ActionLink("人力配置", "Index", "HR")
                    </li>
                    <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
                        @Html.ActionLink("個案清冊及服務量", "Index", "CaseListCount")
                    </li>
                    <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
                        @Html.ActionLink("合作提供服務單位", "Index", "SupportUnit")
                    </li>
                    <li class="list-group-item col-lg-12 col-sm-6 col-xx-12">
                        @Html.ActionLink("自評表", "Index", "SelfRate")
                    </li>
                </ul>
            </div><!--12-->
        </div><!--row-->
    </div><!--col3-->
    <div class="col-xl-9 col-lg-9 col-md-11 pl-xl-0 pl-lg-5">
        <div class="gw page-list mb-4">
            <h3 class="font-weight-bold">個案清冊及服務量</h3>
        </div><!--gw-->
        <div class="gw py-4 px-lg-5 px-md-4 px-xx-3 py-lg-5 py-xx-4 border  bg-light">
            <form runat="server" class="gw process-form" id="form1" method="post" enctype="multipart/form-data" action="@Url.Action("UploadCaseList", "CaseListCount")">
            <div class="gw border bg-light py-5 px-lg-5 px-md-4 px-xx-3">
                <div class="gw">
                    <div class="gw pb-3">
                        <h5 class="font-weight-bold mb-0 text-teal">個案清冊資料上傳</h5>
                        <div class="gw mb-4">
                            <div class="input-group input-group-lg  justify-content-xl-between align-items-start flex-fit">
                                <div class="col-md-8 col-xs-12 col-xx-12 border py-2 mb-sm-0 mb-xx-2 pl-2">
                                    <div class="file-upload-container justify-content-sm-start justify-content-xx-center">
                                        <input type="file" class="form-control-file d-inline-block" id="file_input_list" name="file_input_list" value="" hidden="hidden">
                                        @*<label for="file_input_list" class="pl-3 mb-0 mr-sm-2 mr-xx-0 file-input-trigger">選擇檔案 <i class="icon-upload"></i></label>*@
                                    </div><!--fille-container-->
                                    @Html.ActionLink("個案清冊上傳格式下載", "CaseList", "DownLoad")
                                </div><!--6-->
                                <div class="col-md-4 col-sm-4 col-xs-5 col-xx-12 mt-xx-3 text-xs-left text-xx-center">
                                    <input type="submit" class="btn btn-teal rounded-0" value="開始上傳" />
                                </div><!--auto-->
                            </div><!--input-group-->
                        </div><!--gw-->
                    </div>
                </div>
            </div>
            </form>
            <form name="form2" runat="server" class="gw process-form" id="form2" method="post" enctype="multipart/form-data" action="@Url.Action("UploadCaseCount", "CaseListCount")">
            <div class="gw border bg-light py-5 px-lg-5 px-md-4 px-xx-3">
            <div class="gw">
                <div class="gw pb-3">
                    <h5 class="font-weight-bold mb-0 text-teal">個案服務量資料上傳</h5>
                    <div class="gw mb-4">
                        <div class="input-group input-group-lg  justify-content-xl-between align-items-start flex-fit">
                            <div class="col-md-8 col-xs-12 col-xx-12 border py-2 mb-sm-0 mb-xx-2 pl-2">
                                <div class="file-upload-container justify-content-sm-start justify-content-xx-center">
                                    <input type="file" class="form-control-file d-inline-block" id="file_input_count" name="file_input_count" value="" hidden="hidden">
                                    @*<label for="file_input_count" class="pl-3 mb-0 mr-sm-2 mr-xx-0 file-input-trigger">選擇檔案 <i class="icon-upload"></i></label>
                                      <p id="countFileName" class="file-name col-sm-auto col-xx-12">未選擇任何檔案</p>*@
                                </div><!--fille-container-->
                                        @Html.ActionLink("個案服務量上傳格式下載", "CaseCount", "DownLoad")
                                    </div><!--6-->
                                    <div class="col-md-4 col-sm-4 col-xs-5 col-xx-12 mt-xx-3 text-xs-left text-xx-center">
                                        <input type="submit" class="btn btn-teal rounded-0" value="開始上傳"/>
                                    </div><!--auto-->
                                </div><!--input-group-->
                            </div><!--gw-->
                        </div>
                    </div>
                </div>
                <input type="button" class="btn btn-lg btn-success px-4" id="submit" onclick="window.location.href='@Url.Action("Index", "SupportUnit")'" value="下 一 步">
            </form>
        </div>
    </div>
</div>
